NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://localhost:27017/collavo
CLIENT_ORIGIN=http://localhost:5173
ADMIN_CLIENT_ORIGIN=http://localhost:5174

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

ADMIN_ROUTE_PATH=ops-9f3k2
AUTO_RELEASE_DAYS=7

AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_PRIVATE_CONTAINER=collavo-private
AZURE_KEYVAULT_URL=
